body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

h1 {
    font-weight: 500;
}

a {
    color: white;
}

#navbar {
    display: block;
    list-style-type: none;
    overflow: hidden;
    background-color: #000000;
    padding-left: 8px;
    margin: 0;
    width: 100%;
}

.sticky {
    top: 0;
    position: fixed;
    z-index: 2;
}

.sticky + .content {
    padding-top: 60px;
}

#navbar > li {
    float: left;
}

#navbar > li > a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

#navbar > li :hover{
    background-color:#2c2b2b;
}

.active {
    background-color: green;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1478098711619-5ab0b478d6e6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header > h1{
     color: white;
     grid-area: left;
     font-size: 80px;
}

#about {
    padding: 60px;
}

footer {
    width: 100%;
    text-align: center;
    background-color: black;
    bottom: 0;
    height: 15vh;
    display: grid; 
    justify-content: center;
    align-items: center;
}

footer > p{
    color: white;
}

.narrow {
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

#img_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 50px;
    gap: 20px;
}

#img_container > div {
    display: block;
    height: auto;
    width: 100%;
}

#img_container > div > img{
    display: block;
    height: auto;
    width: 100%;
    transition: transform 0.05s;
}

#img_container >div >img:hover{
    box-shadow: 2px 2px 5px 5px #00000041 !important;
    transform: scale(1.025);
    z-index: 0;

}

#imageheader {
    text-align: center;
}

#img_lightbox{
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #000000b0;
    position: fixed; 
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
}

#preview_img {
    width: 600px;
}

#preview_p{
    height: 100%;
    width: 600;
    font-size: 30px;
    color: white;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.1s; 
}

.close:hover{
    color: #88888f;
}

.pricing-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-areas: "left-border left middle right right-border";
    grid-template-columns: 20% 28.75% 0.5% 28.75% 20%;
    margin-bottom: 50px;
}

#pricing-table-left {
    grid-column-start: left;
    grid-column-end: left;
    background-color: gray;
    color: white;
}
#pricing-table-right {
    grid-column-start: right;
    grid-column-end: right;
   background-color: red;
   color: white;
}

.pricing-table-list {
    padding: 0px;
    margin: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #796e6ebe;
}

.pricing-table-info {
    list-style: none;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 80px; 
    display: flex;
}

.pricing-table-white {
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px; 
    color: black;
    background-color: #d1cecedc;
    border-style: solid;
    border-width: 1px;
    border-color: #8580807c;
}

.narrow2 {
    width: 100%;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
}

.price-tag {
    font-size: 20px;
    font-style: bold;
}

.button-sign-up {
    background-color:grey;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    padding: 10px 32px;
}

.button-sign-up:hover {
    background-color: green;
}